
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JavaScriptProblem</title>
</head>
<body>
    <div> 
        <h3>
            مرورگر شما از جاوا اسکریپت پشتیبانی نمی‌کند!!!
        </h3>
    </div>
</body>
</html>
